.error-block {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; */
    display: flex;
    justify-content: center;
    padding-inline: 20px;
    padding-top: 30px;
  }

.error-block > div > h2 {
  margin-bottom: 30px;
  color: #FF6B6B;
}

.error-block > div > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF6B6B;
  color: #fff;
  transition: .3s ease-in-out all;
}

.error-block > div > a:hover {
  color: #FFD700;
}